body {
  background:#adeaad;
}
#index {
  background-image:url('./../images/pexels-photo-175039.jpeg');
  background-repeat:no-repeat; 
	background-size:cover;
	background-position: center;
	line-height: 20px;
	height:100vh; 
}